body {
	/* background-color: #364C59; */
	/* background: #7e909a; */
	background: "whitesmoke";
	/* background: #48484a; */
} 

.App {
	text-align: center;
  }

.container {
	  font-size: 26px;
	  /* display: table; */
	  display: flex;
	  flex-wrap: wrap;
}
.container div {
	  padding: 5px;
	  float: left;
}

.container canvas {
	  padding: 10px;
}

.container div .text {
	  padding: 5px;
	  margin: 5px;
}

#airdash, #humdash, #tempdash, #watercircle, #freqdash {
	  width: 150px;
	  padding: 15px;
	  /* width: auto;
	  height: auto; */
	
}

#cleanerdash {
	width: auto;
}

#air, #hum, #temp, #tank, #freq,  #wet, #cleanerquality, #soap {
  box-shadow: 0 4px 8px 0 darkgray;
  border-radius: 15px;
  transition: 0.3s;
  padding: 20px;
}

.freq-box-red {
	margin-left: 20px;
	margin-top: 7%;
	text-align: center;
	width: auto;
	height: auto;
	background-color: red;
	box-shadow: 0 4px 8px 0 whitesmoke;
	padding-top: 40px;
	color: whitesmoke;
	/* position: absolute;
	left: 200px; */
}

.freq-box-green {
	margin-left: 20px;
	width: 200px;
	height: auto;
	background-color: green;
	box-shadow: 0 4px 8px 0 whitesmoke;
	padding-top: 40px;
	color: whitesmoke;
	/* position: absolute;
	left: 200px; */
}

.graphcss {
	/* padding-left: auto;
	margin-left: auto; */
	width:400px;
	/* height: 350px; */
}

/* for attendance table */
.compan th{
  width: 500px;
      padding: 15px;
    /* text-align: left; */

  background-color: #4CAF50;
  color: white;
}

.compan td {
  width: 500px;
  padding: 15px;
}

@media screen and (max-width: 400px) { 
	.container {
		justify-content: center;
	}

	#air, #hum, #temp, #tank , #freq, #wet, #cleanerquality, #soap{
		justify-content: center;
		/* align-content: center; */
		/* margin-left: auto; */
		/* margin-right: auto; */
		/* padding-left: 100px; */
		display:flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
	}
	
	#airdash, #humdash, #tempdash, #watercircle, #freqdash{
		padding-left: 60px;
		justify-content: center;
		width: 250px;
		height: 250px;
	}

	#cleanerdash {
		width: auto;
	} 

	.graphcss {
		width: 330px;
	}
	
}

